<div class="account-instance-container">
    <div class="account-inst-img-container">
        <img src="{{imgurl}}" alt="Photo">
    </div>
    <div class="account-inst-text-container">
        <p class="inst-text" id="inst-website">{{address}}</p>
        <p class="inst-text" id="inst-username">{{username}}</p>
        <p class="inst-text" id="inst-password">{{password}}</p>
    </div>
    <div class="account-inst-button-container">
        <button class="acc-inst-button clickable acc-inst-edit-button">edit</button>
        <button class="acc-inst-button clickable acc-inst-delete-button">delete</button>
    </div>
    <div class="hidden invisable">{{id}}</div>
</div>